@model HotelGestion.Models.Habitacion

@{
    ViewData["Title"] = "Eliminar";
}

<div class="row">
    <div class="col-sm-8 offset-sm-2">
<h3>¿Seguro/a que quiere borrar este registro?</h3>
<div>
    <h4>Habitacion</h4>
    <dl class="row">
        <dt class = "col-sm-5">
            @Html.DisplayNameFor(model => model.Numero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Numero)
        </dd>
        <dt class = "col-sm-5">
            @Html.DisplayNameFor(model => model.Piso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Piso)
        </dd>
        <dt class = "col-sm-5">
            Tipo de Habitación
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoHabitacion)
        </dd>
        <dt class = "col-sm-5">
            @Html.DisplayNameFor(model => model.Capacidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Capacidad)
        </dd>
        <dt class = "col-sm-5">
            Precio por noche
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrecioNoche)
        </dd>
        <dt class = "col-sm-5">
            Estado de habitación
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstadoHabitacion)
        </dd>
    </dl>
    
    <form asp-action="Delete" >
        <input type="hidden" asp-for="IdHabitacion" />
        <input type="submit" value="Borrar" class="btn btn-danger"/> |
        <a asp-action="Index" class="btn btn-success">Volver</a>
    </form>
</div>
    </div>

</div>
